#subjectList {    
    overflow:auto;
    width: 50%; 
    float: right; 
    background-color: greenyellow; 
    height: 400px;
}

#courseSearch {    
    overflow:auto;
    width: 50%; 
    float: right; 
    background-color: grey; 
    height: 400px;
}